@use "./variables" as *;

.products {
    width: 95%;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    width: 24%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        transition: 0.1s;
    }

    .img {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 1.5em;

        .title {
            font-size: 1.1em;
            height: 45px;
        }

        .price {
            display: flex;
            gap: 0.3em;

            .priceSpan {
                font-weight: 500;
            }
        }

        .description {
            display: none;
        }
    }
}

.textHover {
    font-weight: 500;

    &:hover {
        color: rgba(0, 0, 0, 0.6);
    }
}

.loading {
    width: 95%;
    height: 100%;
    position: fixed;
    @include center;

    .loader {
        width: 70px;
        margin-bottom: 6em;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0.3);
        border-right-color: black;
        animation: l2 1s infinite linear;
    }

    @keyframes l2 {
        to {
            transform: rotate(1turn)
        }
    }
}